  * {
    margin: 0;
    padding: 0; 
  }
  
  input {
    border: none;
    outline:none; 
  }
  
  @basicColor:  #DC143C;
  
  .border-radius(@radius) {
    border-radius: @radius;
  }
  
  .border(@color) {
    border: 1px solid @color;
  }
  
  .box(@width, @height) {
    width: @width;
    height: @height;
  }
  
  .display_box_t {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .display_box_p {
    display: flex;
    flex-direction: column; 
  }
